@mixin grid($col) {
    display: grid;
    grid-template-columns: repeat($col , auto);
}
.navBar{
    //width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 auto;
}
.menu_nav {
    // @include grid(3);
    // align-items: center;
    // gap: 10px;
    display: flex;
    gap: 10px;


}