* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'work Sans';
}

:root {
    --primary: #F27830;
    --green: #3CCF17;
}

p {
    color: rgba(0, 0, 0, 0.70);
}